.card {
  padding: 1rem;
  background-color: white;
  direction: rtl;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  width: 100%;
}

.fields {
  display: flex;
  justify-content: center;
  background-color: white;
}

.text {
  color: black;
  left: 50%;
}

.search {
  padding: 2rem;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
}
